.ourMissions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ourMissionsUpBlock,
.ourMissionsDownBlock {
  display: flex;
  background: #393737;
  flex-direction: column;
  gap: 100px;
}

.blockSqueare {
  border-radius: 20px;
  padding: 25px 20px;
}

.ourMissionsText {
  width: fit-content;
  border-radius: 30px;
  padding: 10px 20px;
  background: #ebeaea;
  color: #393737;
}

.ourMissionsUpBlockText {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
}

.ourMissionsOrangeText {
  color: #f5b23e;
}

.ourMissionsCenterBlock {
  display: flex;
  gap: 15px;
}

.ourMissionsCenterBlockCenterSqueares {
  flex: 1;
  height: 310px;
  position: relative;
  display: flex;
  align-items: end;
}

.ourMissionsCenterBlockSvg {
  position: absolute;
  left: 20px;
  top: 25px;
}

.ourMissionsCenterBlockText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ourMissionsCenterBlockTextTitle {
  text-transform: uppercase;
  font-size: 22px;
}

.ourMissionsCenterBlockQuality {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../public/image/our_missions/card-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ourMissionsCenterBlockResponsibility {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../public/image/our_missions/card-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ourMissionsCenterBlockInnovation {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../public/image/our_missions/card-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ourMissionsCenterBlockButtonCall {
  width: "fill-available";
  width: "100%";
  text-align: center;
  background: #f5b23e;
  color: #393737;
  border-radius: 30px;
  padding: 10px;
  transition: all 0.5s ease;
}

.ourMissionsCenterBlockButtonCall:hover {
  background-color: rgb(248, 187, 81, 0.7);
}

@media (max-width: 768px) {
  .ourMissionsUpBlock {
    margin-top: 50px;
    gap: 70px;
  }

  .ourMissionsDownBlock {
    gap: 70px;
  }

  .ourMissionsUpBlockText {
    font-size: 34px;
  }

  .ourMissionsCenterBlock {
    display: flex;
    flex-direction: column;
  }

  .ourMissionsCenterBlockCenterSqueares {
    display: flex;
    flex: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ourMissionsCenterBlockCenterSqueares {
    display: flex;
    flex: none;
    width: 100%;
  }

  .ourMissionsCenterBlock {
    display: flex;
    flex-direction: column;
  }
}
