body {
  font-family: "UNIVERSAL SANS PERSONAL USE", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ebeaea;
}

a {
  text-decoration: none;
  color: #ebeaea;
  font-size: 18px;
  font-weight: 500;
}

.body {
  display: flex;
  gap: 50px;
  flex-direction: column;
  margin: 0px 70px 0px 70px;
}
.p-dialog-mask {
  background: rgba(0, 0, 0, 0.8) !important;
}
.p-dialog-content {
  background: #393737 !important;
}
.p-dialog-header {
  background: #393737 !important;
}
.p-dialog-header {
  color: #f5b23e !important;
}
.p-carousel-indicators .p-highlight {
  background-color: #f5b23e !important;
}

.p-carousel-indicators button {
  background-color: rgba(245, 178, 62, 0.5) !important;
}
.p-carousel .p-carousel-item img {
  border-radius: 20px !important;
  transition: border-radius 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-carousel .p-carousel-item {
  border-radius: 20px;
  overflow: hidden;
}

.p-dialog .p-dialog-content {
  color: #ebeaea !important;
}

.swiper-slide {
  display: flex !important;
  height: auto !important;
}
.p-carousel-items-content {
  border-radius: 30px;
}

@media (max-width: 768px) {
  body {
    margin: 0px;
  }
  .body {
    margin: 0px 20px;
  }

  .p-sidebar-mask {
    height: 100vh !important;
  }
  .p-button:focus {
    outline: none;
    box-shadow: none;
  }
  .p-sidebar-header {
    background-color: #393737 !important;
  }
  svg.p-icon {
    color: #f5b23e !important;
  }
  svg.p-icon:hover {
    color: #393737 !important;
  }
  .p-sidebar-icon {
    background-color: none !important;
  }
  .p-sidebar-content {
    padding: 0px !important;
  }
  .p-sidebar-icon:hover {
    background-color: #f5b23e !important;
  }
}
