.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.reviewsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 50px 0px 50px;
  color: #393737;
  font-size: 65px;
}

.reviewsDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 50px 0px 50px;
  color: #393737;
  font-size: 30px;
}

.—Åards {
  flex: 1;
  position: relative;
  display: flex;
  background-color: #ebeaea;
  border-radius: 30px;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #393737;
  gap: 88px;
}

.cardsUp {
  display: flex;
  justify-content: space-between;
}

.cardsUpName {
  font-size: 20px;
}

.cardsUpStatus {
  color: #f5b23e;
}

.cardsUpText {
  width: 50%;
}

.cardsDown {
  width: 40%;
  padding: 0px 0px 10px 20px;
}

:root {
  --swiper-navigation-color: #f5b23e;
}

.reviewsTelegramBot {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #393737;
}

.reviewsTelegramBotLinks {
  font-size: 24px;
  color: #f5b23e;
}

.reviewsTelegramBotLinks:hover {
  color: rgb(248, 187, 81, 0.7);
}

@media screen and (max-width: 400px) {
  .textInvest {
    font-size: 2.5rem !important;
  }
}
